@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@450&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
/*map,list*/
.button-icon {
   border : 0;
   outline : 0;
   background-color: #ffffff;
}

.div-floor {
    display: inline-block;
   text-align: center;
   padding: 8px;
   margin: 10px;
   background-color: #222222;
   color: #ffffff;
}

/*home*/
.button1 {
   width: 360px;
   height: 600px;
   background-color: #ff5959;
   border: none;
   color: #fff;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 60px;
   margin-right: 45px;
   cursor: pointer;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   line-height: 150%;
}

.button2 {
   width: 360px;
   height: 600px;
   background-color: #00536f;
   border: none;
   color: #fff;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 60px;
   margin-left: 45px;
   cursor: pointer;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   line-height: 150%;
}

.div {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -405px;
   margin-top: -605px;
}

.div2 {
   position: absolute; 
   right: 0px; 
   bottom: 0px;
}

.h1 {
   font-size: 100px;
   font-family: 'Noto Sans JP', sans-serif;
   letter-spacing: 5px;
}

.h3 {
   font-size: 50px;
   font-family: 'Noto Sans KR', sans-serif;
   letter-spacing: 3px;
   margin-top: -30px;
   margin-bottom: 120px;
}

/*
.stopButton {
   width: 50px;
   height: 30px;
   background-color: #aaaaaa;
   border: none;
   color: #fff;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
   cursor: pointer;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   line-height: 150%;
}
*/
